*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
  display: flex;
  align-items: center;
justify-content: center;
font-size: 50px;
color: blue;
padding-bottom: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 10px; 
}

.image {
  overflow: hidden; 
}
.heading{
  display: flex;
  align-items: center;
justify-content: center;
}

